@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<address>
    <strong>Twitter:</strong> <a href="https://www.twitter.com/lukebearl">@@lukebearl</a><br />
</address>
