@{
    ViewData["Title"] = "Home Page";
}


<h2>Enter a domain to continue</h2>
    <div class="form-inline">
        <div class="form-group">
            <label for="Domain">Domain:</label>
            <input type="text" id="Domain" class="form-control" />
            <a href="javascript:void(0)" id="Go" class="btn btn-primary">Go</a>
        </div>
    </div>


@section scripts
{
<script>
    $(() => {
        $("#Go").on('click', () => {
            var domain = $("#Domain").val();
            window.location.href = '/Home/GetRules?domain=' + domain;
        });
    });

</script>
}